<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanjun.dao.SsmWxTokenMapper">
  <resultMap id="BaseResultMap" type="com.yuanjun.bean.SsmWxToken">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="expiretime" jdbcType="INTEGER" property="expiretime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yuanjun.bean.SsmWxToken">
    <result column="accesstoken" jdbcType="LONGVARCHAR" property="accesstoken" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, createtime, expiretime
  </sql>
  <sql id="Blob_Column_List">
    accesstoken
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.yuanjun.bean.SsmWxTokenExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ssm_wx_token
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.yuanjun.bean.SsmWxTokenExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ssm_wx_token
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ssm_wx_token
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ssm_wx_token
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuanjun.bean.SsmWxTokenExample">
    delete from ssm_wx_token
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuanjun.bean.SsmWxToken">
    insert into ssm_wx_token (id, createtime, expiretime, 
      accesstoken)
    values (#{id,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, #{expiretime,jdbcType=INTEGER}, 
      #{accesstoken,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuanjun.bean.SsmWxToken">
    insert into ssm_wx_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="expiretime != null">
        expiretime,
      </if>
      <if test="accesstoken != null">
        accesstoken,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null">
        #{expiretime,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null">
        #{accesstoken,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuanjun.bean.SsmWxTokenExample" resultType="java.lang.Long">
    select count(*) from ssm_wx_token
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ssm_wx_token
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expiretime != null">
        expiretime = #{record.expiretime,jdbcType=INTEGER},
      </if>
      <if test="record.accesstoken != null">
        accesstoken = #{record.accesstoken,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ssm_wx_token
    set id = #{record.id,jdbcType=CHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      expiretime = #{record.expiretime,jdbcType=INTEGER},
      accesstoken = #{record.accesstoken,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ssm_wx_token
    set id = #{record.id,jdbcType=CHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      expiretime = #{record.expiretime,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuanjun.bean.SsmWxToken">
    update ssm_wx_token
    <set>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiretime != null">
        expiretime = #{expiretime,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null">
        accesstoken = #{accesstoken,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yuanjun.bean.SsmWxToken">
    update ssm_wx_token
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      expiretime = #{expiretime,jdbcType=INTEGER},
      accesstoken = #{accesstoken,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuanjun.bean.SsmWxToken">
    update ssm_wx_token
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      expiretime = #{expiretime,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>